// colours
$primary-pink: #FCD8D1;
$primary-white: #FAFAFA;
$primary-grey: #7a7a7a;
// styles
$primary-box-shadow: 0px 8px 60px 3px rgba(#C4C4C4, 0.72);
// fonts
$primary-font-size: 14px;
$nav-font-size: 12px;
$primary-font-family: 'Open Sans', sans-serif;
